# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened, closed]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: jest_mysql_test
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Clean install dependencies and build
      run: |
        npm i --package-lock-only
        npm ci
        npm run build --if-present
    
    - name: Run tests
      run: npm test
      env:
        DB_PORT: ${{ job.services.mysql.ports[3306] }}

    - name: Collect code coverage
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage/clover.xml
        flags: unittests
        name: library-coverage
        fail_ci_if_error: true

      env:
        CI: true
